div
{
    border-radius: 100px;
    }
#head
{
    border-radius: 5px;
    text-align: center;
    position: fixed;
    z-index: 1;
    height:58px;
    width: 98%;
    background-color: khaki;
    margin-bottom: 5px;
    font-size: 25px;
    }

#right
{
    float: left;
    margin-top: 50px;
    padding-left:5px;
    height: auto;
    width: 99%;
    background-color: lavender;
    }


#footer
{
    height:40px;
    clear:both;
    position: relative;
    background-color:khaki;

    }
    
h3
{
    text-decoration: underline;
    }


table
{
    border: 1px dashed black;
    }
td
{
    padding: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid olive;
    }

#heading
{
    font-weight:bold;
    }